---
nav:
  - {name: "home", label: "Home", href: ""}
  - {name: "work", label: "Work", href: "work/"}
  - {name: "aboutus", label: "About Us", "About Us", href: "aboutus/"}
  - {name: "contact", label: "Contact", "Contact", href: "contact/"}
---
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/7ed1362f-6cd0-4329-a8e4-237bb9b94869.css"/>
    <link rel="stylesheet" href="{{ page.rootPath }}assets/css/style.min.css">

    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ page.rootPath }}vendors/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include header.html nav=page.nav%}
    <div class="page-wrapper">
      {{content}}
    </div>
  </body>
  <script type="text/javascript" src="{{ page.rootPath }}assets/js/thegoodrush.min.js"></script>
</html>
