@font-face {
    font-family: 'Splendid';
    src: url('splendid.eot');
    src: url('splendid.eot') format('embedded-opentype'),
         url('splendid.woff') format('woff'),
         url('splendid.ttf') format('truetype'),
         url('splendid.svg#Splendid') format('svg');
}
