@font-face {
    font-family: 'Splendid';
    src: url('fonts/splendid.eot');
    src: url('fonts/splendid.eot') format('embedded-opentype'),
         url('fonts/splendid.woff') format('woff'),
         url('fonts/splendid.ttf') format('truetype'),
         url('fonts/splendid.svg#Splendid') format('svg');
}
