/* header */

.logo{
  width:100%;
  padding:24px 0;
  text-align: center;
  .the{
    line-height:32px;
    font-size:48px;
    font-family: 'Splendid';
    padding:0 10px;
    color: $gray-light;
    text-shadow: 1px 1px 0 $gray;
  }
  .good{
    line-height:32px;
    font-size:48px;
    font-family: "NewCaledoniaW01-Italic";
    text-transform: uppercase;
    color: $gray-darker;
    text-shadow: -1px -1px 0 $gray-light;
  }
  .rush{
    line-height:32px;
    font-size:44px;
    font-family: "Chevalier$LPW00-Regular";
    text-transform: uppercase;
    color: $gray-light;
    text-shadow: 1px 1px 0 $gray-darker;
  }
}
header{
  ul{
    margin:0;
    padding:8px 0;
    border-top:4px double $gray-light;
    border-bottom:1px solid $gray-light;
    @include clearfix();
    li{
      list-style-type: none;
      float:left;
      a{
        color:$gray;
        padding:16px;
        text-decoration: none;
        font-style: italic;
        &:hover{
          color:$gray-darker;
        }
      }
      &:first-child{
        a{
          padding-left:0px;
        }
      }
      &.active{
        a{
          color:$gray-darker;
        }
      }
    }
  }
}