/* header */

.logo{
  width:180px;
  background-color: white;
  border-radius: 50%;
  padding:24px 0;
  margin:16px auto;
  text-align: center;
  box-shadow: -1px -1px 50px 2px $gray-light;
  .the{
    line-height:32px;
    font-size:48px;
    font-family: 'Splendid';
    padding:0 10px;
    color: $gray-light;
    text-shadow: 1px 1px 0 $gray;
  }
  .good{
    line-height:32px;
    font-size:48px;
    font-family: "NewCaledoniaW01-BlackIt";
    text-transform: uppercase;
    color: $gray-darker;
    text-shadow: -1px -1px 0 $gray-light;
  }
  .rush{
    line-height:32px;
    font-size:44px;
    font-family: "Chevalier$LPW00-Regular";
    text-transform: uppercase;
    color: $gray-light;
    text-shadow: 1px 1px 0 $gray-darker;
  }
  span{
    display:block;
    padding:5px;
  }
}
header{
  .top-nav{
    background-color: $gray-darker;
    @include clearfix();
    ul{
      margin:0;
      float:right;
      font-size:12px;
      line-height: 16px;
      font-family: 'LinotypeUniversW01-Ligh 723631';
      li{
        list-style-type: none;
        float:left;
        a{
          display:block;
          color:$gray;
          padding:4px 8px;
          text-decoration: none;
        }
        &:hover{
          a{
            color:$gray-lighter;
          }
        }
      }
    }
  }
  nav{
    ul{
      margin:0;
      padding:8px 0;
      border-top:4px double $gray-light;
      border-bottom:1px solid $gray-light;
      @include clearfix();
      li{
        list-style-type: none;
        float:left;
        a{
          color:$gray;
          padding:16px;
          text-decoration: none;
          font-style: italic;
          &:hover{
            color:$gray-darker;
          }
        }
        &:first-child{
          a{
            padding-left:0px;
          }
        }
        &.active{
          a{
            color:$gray-darker;
          }
        }
      }
    }
  }
}